<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login 404App</title>
<link rel="icon"  type="img/jpg" href="img/favicon.ico">
<link rel="stylesheet" href="/css/style404.css" media="screen">
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@900&display=swap" rel="stylesheet">