/***************BASICO*************/

* {
    margin: 0;
    padding: 0;
   /* border: 1px solid red; */ 
}

body{
    background-image: url(../imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    background-color: black;
    text-align:center;
    margin-bottom: 2px;
    width: 100%;
    height: 4%;
    bottom:0;
    position:fixed;
    left:0;
    font-family: neon;
    color: white;
    font-size: 0.5cm;
    padding-bottom: 0.5%;
    padding-top:0.5% ;

}

/*******************************/

#encabezado {
    top: 0;
    width: 40%;
    height: 130px;
    position: fixed;
    background-color: black;
}

#titulo {
    float: left; 
    font-size: 40px;
    margin-top: 25px;
    margin-left: 40px;
    margin-right: auto;
    color: whitesmoke;
    font-family: 'Big Shoulders Stencil Text', cursive;
    text-shadow: 2px 4px gray;
}

/*******************************/

.licenseImg{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 75%;
    object-fit: cover;
    object-position: center center;
    margin-bottom: 0.2%;
    margin-right: 0.5%;
    background-color:  rgba(0,0,0,.0); /*Para que no haya background*/

}
