<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/headerError") %>
</head>

<body>
<header id="encabezado">

    <div id="titulo">
        <h1>
            FourZeroFour
        </h1>
    </div>

</header>

<main id="contenido">

        <div class="div404error">Ruta: <%=urlNotFound%> no encontrada</div>

</main>

<footer>
    <img class="licenseImg" src="/img/license.png">
</footer>

</body>

</html>