<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Question</title>
    <link rel="stylesheet" href="/css/style_create_question.css" media="screen">
    <link rel="icon"  type="img/jpg" href="/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@900&display=swap" rel="stylesheet">
</head>
<body>

<header id="encabezado">
    <div class="columna">
        <div id="divPreguntas"><a href="/preguntas/QuestionIndex/" id="botonPreguntas">Preguntas</a></div>
        <div id="divSinResponder"><input type="button" value="Sin responder" id="botonSinResponder"></div>
        <div id="divUsuarios"><input type="button" value="Usuarios" id="botonUsuarios"></div>
    </div>
    <div class="columna">
        <div id="titulo">
            <h1>
                FourZeroFour
            </h1>
        </div>
    </div>
    <div class="columna">
        <div id="divImgPerfil"><img src="/usuarios/ShowProfileImage/<%=user.email%>" id="imgPerfil"></div>
        <div id="divNombrePerfil"><span><%=user.cuatrozerocuatro_name%></span></div>
        <div id="divDesconectar"><a href="usuarios/LogOut" type="button" id="botonDesconectar">Cerrar Sesión</a></div>
    </div>
</header>

<main class="search">
    <form form action="" method="get" id="formulario">
            <span id="buscarFormInput"> <input type="button" value="Buscar" id="searchButton">
                 <label for="searchButton"> <span>Buscar</span> <img src="/img/lupa.png" ></label></span>
        <span id="textoSearchFormInput "><input type="text" placeholder="Buscar por titulo/cuerpo de pregunta" id="textForm"/></span>

    </form>
</main>
<main id="contenido">
    <form action ="/preguntas/AddQuestion"  method="POST" id="formularioCreateQuestion">
        <div id="tituloContenido">Formular Una Pregunta</div>
        <span>Titulo</span>
        <div id="formTextTitulo"><input type="text" name="title" id="textoFormCorreo"  maxlength="30" required></div>
        <span>Cuerpo</span>
        <div id="formTextCuerpo"><input type="text" name="text" id="textoFormCuerpo" required></div>
        <span>Etiquetas</span>
        <div id="formTextConfirmarContraseña"><input type="text"  placeholder="Las etiquetas deben ir separadas de @ sin espacios entre ellas" name="tags" id="textoFormConfirmarContraseña"></div>

        <div id="formTextPublicarRespuesta"><input type="submit" value="Formular Pregunta" id="publicarButton"></div>

    </form>
</main>

<footer>
    <img class="licenseImg" src="/img/license.png">
</footer>
</body>
</html>