<!DOCTYPE html>
<html lang="en">

<%- include("partials/headerindex") %>

<main id="contenido">

    <form form action="/usuarios/Create_User" method="POST" id="formulario" enctype="multipart/form-data">

        <span>Correo</span>
        <div id="formTextCorreo"><input type="text" name="email" id="textoFormCorreo" required></div>
        <span>Contraseña</span>
        <div id="formTextContraseña"><input type="password" name="user_password" title="Por Seguridad, mínimo 8 caracteres." minlength="8" maxlength="50" id="textoFormContraseña" required></div>
        <span>Confirmar Contraseña</span>
        <div id="formTextConfirmarContraseña"><input type="password" name="user_passwordX" id="textoFormConfirmarContraseña"></div>
        <span>Usuario 404</span>
        <div id="formTextnickname"><input type="text" name="cuatrozerocuatro_name" id="textoFormNickname" required></div>
        <span>Imagen de Perfil</span>
        <div id="formImg"><input type="file" name="user_img" accept="image/*" id="inputImg"></div>
        <label class="labelLoadImage" for="inputImg"> <span>Upload File</span> <img src="/img/iconfinder-upload-4341320_120532.png" required></label>

        <div id="loginCreate">

            <div id="correoFormInput"><input type="submit" value="Crear Cuenta" id="loginEmailButton"></div>
            <div id="createAccountFormInput"><a href ="/usuarios/Show_Index" id="createAccountButton">Iniciar Sesion</a></div>

        </div>
    </form>
    <flash>
    <%- include("flash") %>
    </flash>


</main>

<footer>
    <img class="licenseImg" src="/img/license.png">
</footer>

</body>
</html>