<!DOCTYPE html>
<html lang="en">

<%- include("partials/header_general") %>

<main class="search">
    <form form  action="/preguntas/QuestionByTextOrTag"  method="post"id="formulario">
            <span id="buscarFormInput"> <input type="submit" value="Buscar" id="searchButton">
                 <label for="searchButton"> <span>Buscar</span> <img src="/img/lupa.png" ></label>
            </span>
        <span id="textoSearchFormInput "><input type="text" name="textSearch"  placeholder="Buscar por titulo/cuerpo de pregunta" id="textForm" required></span>
        <span><input class="checkbox" id="checkbox"type="checkbox" name ="modoBusqueda" value="Buscar por Tag"></span>
        <label for="checkbox"> <span class="checkbox">Buscar Por Tag</span></label>
    </form>
</main>

<flash>
    <%- include("flash") %>
</flash>

<footer>
    <img class="licenseImg" src="/img/license.png">
</footer>

</body>

</html>