<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/headerindex") %>
</head>
<body>
<header id="encabezado">
    <div id="titulo">
        <h1>
            FourZeroFour
        </h1>

    </div>
    <!--

    
    <hour>
        <div class="reloj">

            <div class="borderClock " id="marginInferiorFecha">
                <span id="weekDay" class="weekDay"></span>,
                <span id="day" class="day"></span> de
                <span id="month" class="month"></span> del
                <span id="year" class="year"></span>
            </div>
            <div class="borderClock2  ">
                <span id="hours" class="hours"></span> :
                <span id="minutes" class="minutes"></span> :
                <span id="seconds" class="seconds"></span>
            </div>
        </div>
    </hour>
-->
</header>



<main id="contenido">

    <form form  action="/usuarios/UserValidation"  method="POST" id="formulario">

        <span>Correo</span>
        <div id="formTextCorreo"><input type="text" name="email" id="textoFormCorreo"required></div>
        <span>Contrase침a</span>
        <div id="formTextContrase침a"><input type="text" name="password" id="textoFormContrase침a" required></div>

        <div id="loginCreate">
            <div id="correoFormInput"><input type="submit" value="Inicio de Sesi칩n" id="loginEmailButton"></div>
            <div id="createAccountFormInput"><a href ="/usuarios/Show_CreateAccount" id="createAccountButton">Crear Cuenta</a></div>

        </div>
    </form>
    <%- include("flash") %>

</main>

<footer>
    <img class="licenseImg" src="/img/license.png">
</footer>


</body>
</html>