<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("header_index_postLogin") %>
</head>
<body>

<header id="encabezado">

    <div class="columna">
        <div id="divPreguntas"><input type="button" value="Preguntas" id="botonPreguntas"></div>
        <div id="divSinResponder"><input type="button" value="Sin responder" id="botonSinResponder"></div>
        <div id="divUsuarios"><input type="button" value="Usuarios" id="botonUsuarios"></div>
    </div>

    <div class="columna">
        <div id="titulo">
            <h1>
                FourZeroFour
            </h1>
        </div>
    </div>

    <div class="columna">
        <div id="divImgPerfil"><img src="/usuarios/ShowProfileImage/<%=usuario.id%>" id="imgPerfil"></div>
        <div id="divNombrePerfil"><span><%=usuario.email%></span></div>
        <div id="divCerrarSesion"><a  href ="/usuarios/LogOut" value="Cerrar Sesion" id="botonCerrarSesion">Cerrar Sesion</a></div>
    </div>

</header>

<main class="search">
    <form form action="" method="get" id="formulario">
            <span id="buscarFormInput"> <input type="button" value="Buscar" id="searchButton">
                 <label for="searchButton"> <span>Buscar</span> <img src="/img/lupa.png" ></label>
            </span>
        <span id="textoSearchFormInput "><input type="text" placeholder="Buscar por titulo/cuerpo de pregunta" id="textForm"/></span>

    </form>
</main>

<footer>
    <img class="licenseImg" src="public/img/license.png">
</footer>

</body>

</html>