<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user</title>
    <link rel="stylesheet" href="public/css/style_searchUser.css" media="screen">
    <link rel="icon"  type="img/jpg" href="public/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text:wght@900&display=swap" rel="stylesheet">
</head>
<body>

<header id="encabezado">
    <div class="columna">
        <div id="divPreguntas"><input type="button" value="Preguntas" id="botonPreguntas"></div>
        <div id="divSinResponder"><input type="button" value="Sin responder" id="botonSinResponder"></div>
        <div id="divUsuarios"><input type="button" value="Usuarios" id="botonUsuarios"></div>
    </div>
    <div class="columna">
        <div id="titulo">
            <h1>
                FourZeroFour
            </h1>
        </div>
    </div>
    <div class="columna">
        <div id="divDesconectar"><input type="button" value="Desconectar" id="botonDesconectar"></div>
    </div>
</header>

<main class="search">
    <div id="idButton">
        <input type="text" id="searchterm" placeholder="Buscar por titulo/cuerpo de pregunta" /><button type="button" id="botonBuscar">Buscar!</button>
    </div>
</main>

<main id="contenido">

    <div id="tituloContenido">404 Users</div>
    <div class="search2">
        <div id="idButton2">
            <input type="text" id="searchterm2" placeholder="Filtrar por usuarios" /><button type="button" id="botonBuscar2">Filtrar!</button>
        </div>
    </div>

    <div class="espacio"></div>
    <div class="grid">
        <div class="celda">
            <div class="columnaHead"id="infoLeft">

                <div class="fotoPerfil">
                    <img src="public/img/user1.png" alt="">
                </div>
                <div class="info">SGG</div>
            </div>
        </div>
        <div class="celda">
            <div class="columnaHead"id="infoLeft">

                <div class="fotoPerfil">
                    <img src="public/img/user1.png" alt="">
                </div>
                <div class="info">SGG</div>
            </div>
        </div>
        <div class="celda">
            <div class="columnaHead"id="infoLeft">

                <div class="fotoPerfil">
                    <img src="public/img/user1.png" alt="">
                </div>
                <div class="info">SGG</div>
            </div>
        </div>
        <div class="celda">
            <div class="columnaHead"id="infoLeft">

                <div class="fotoPerfil">
                    <img src="public/img/user1.png" alt="">
                </div>
                <div class="info">SGG</div>
            </div>
        </div>
        <div class="celda">
            <div class="columnaHead"id="infoLeft">

                <div class="fotoPerfil">
                    <img src="public/img/user1.png" alt="">
                </div>
                <div class="info">SGG</div>
            </div>
        </div>
        <div class="celda">
            <div class="columnaHead"id="infoLeft">

                <div class="fotoPerfil">
                    <img src="public/img/user1.png" alt="">
                </div>
                <div class="info">SGG</div>
            </div>
        </div>
        <div class="celda">
            <div class="columnaHead"id="infoLeft">

                <div class="fotoPerfil">
                    <img src="public/img/user1.png" alt="">
                </div>
                <div class="info">SGG</div>
            </div>
        </div>
        <div class="celda">
            <div class="columnaHead"id="infoLeft">

                <div class="fotoPerfil">
                    <img src="public/img/user1.png" alt="">
                </div>
                <div class="info">SGG</div>
            </div>
        </div>
        <div class="celda">
            <div class="columnaHead"id="infoLeft">

                <div class="fotoPerfil">
                    <img src="public/img/user1.png" alt="">
                </div>
                <div class="info">SGG</div>
            </div>
        </div>
        <div class="celda">
            <div class="columnaHead"id="infoLeft">

                <div class="fotoPerfil">
                    <img src="public/img/user1.png" alt="">
                </div>
                <div class="info">SGG</div>
            </div>
        </div>
        <div class="celda">
            <div class="columnaHead"id="infoLeft">

                <div class="fotoPerfil">
                    <img src="public/img/user1.png" alt="">
                </div>
                <div class="info">SGG</div>
            </div>
        </div>
        <div class="celda">
            <div class="columnaHead"id="infoLeft">

                <div class="fotoPerfil">
                    <img src="public/img/user1.png" alt="">
                </div>
                <div class="info">SGG</div>
            </div>
        </div>
    </div>
    <!--
         <div class="tabla">
        <div class="espacio"></div>
        <div class="celda">1</div>
        <div class="celda">2</div>
        <div class="celda">3</div>
        <div class="celda">4</div>
        <div class="celda">5</div>
        <div class="celda">6</div>
        <div class="celda">7</div>
        <div class="celda">8</div>
        <div class="celda">9</div>
        <div class="celda">10</div>
        <div class="celda">11</div>
        <div class="celda">12</div>
    </div>
    -->


</main>

<footer>
    <img class="licenseImg" src="public/img/license.png">
</footer>

</body>
</html>