/***************BASICO*************/
@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre&family=Xanh+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

body{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer {

    text-align:center;
    margin-bottom: 2px;
    width: 100%;
    height: 4%;
    bottom:0;
    position:fixed;
    left:0;
    font-family: neon;
    color: white;
    font-size: 0.5cm;
    padding-bottom: 0.5%;
    padding-top:0.5% ;

}

/*******************************/

#encabezado {
    display: flex;
    position: fixed;
    z-index:9999;
    top: 0;
    margin-left: 29%;
    width: 100%;
    height: 130px;
    background-color: transparent;

}

#titulo {
    float: left;
    font-size: 40px;
    margin-top: 25px;
    margin-left: 40px;
    margin-right: auto;
    color: whitesmoke;
    font-family: 'Big Shoulders Stencil Text', cursive;
    text-shadow: 2px 4px gray;
}
h1:hover{
    animation: shake 0.8s;
    color: black;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
/*******************************/
.reloj{
    position: fixed;
    display: grid;
    top:0;
    right:0;
    font-family: 'Miriam Libre', sans-serif;
    color: coral;
    font-weight: bold;
    font-size: 12px;
    text-align: right;
    margin-top: 0.45%;
    margin-right: 0.45%;
    grid-template-rows: auto auto




}
.borderClock{
    border: 2px solid whitesmoke;
    border-radius: 10px 10px 0px 10px;
    padding: 5px;
    background-color: black;
    grid-column: 1 /3;
    padding: 10px;
}
.borderClock2{
    float: right;
    border: 2px solid whitesmoke;
    border-radius: 0px 0px 0px 10px;
    border-top: none;
    padding: 5px;
    background-color: black;
    grid-column: 2/3;
    padding: 6px;

}
.licenseImg{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 75%;
    object-fit: cover;
    object-position: center center;
    margin-bottom: 0.2%;
    margin-right: 0.5%;
    background-color:  rgba(0,0,0,.0); /*Para que no haya background*/

}
/*Style CSS3 for body -> login*/

#contenido{
    position: absolute;
    width: 35%;
    top:160px;
    margin-left:31%;
    font-family: 'Miriam Libre', sans-serif;
    font-weight: bold;
}
#loginCreate{
    margin-top: 7%;
}
#contenido >form > div > input {
    padding: 0.3%;
}
#contenido >form > div > a {
    padding: 0.3%;
}
#contenido >form > span {
    font-size: 20px;

}
#loginCreate>div{
    text-align: center;
}
#loginCreate>a{
    text-align: center;
}
#loginCreate>div>input{
    padding: 0.6%;
    font-family: 'Miriam Libre', sans-serif;
    font-size:15px;


}
#loginCreate>a>input{
    padding: 0.6%;
    font-family: 'Miriam Libre', sans-serif;
    font-size:15px;
    font-weight: bold;
    border: 6px solid black;
    border-radius: 11%;
    margin-left: 15%;
    margin-top: 3%;

}
#loginCreate>a>input:hover{
    background: black;
    color: coral;
    border: 6px solid coral;

}
#loginCreate>div>input:hover{
    background: black;
    color: coral;
    border: 6px solid coral;

}
loginCreate>div>a:hover{
    background: black;
    color: coral;
    border: 6px solid coral;

}
#createAccountFormInput{
    margin-top: 3%;
}
#loginEmailButton{
    background: coral;
    color: black;
    width: 70%;

}
#createAccountButton{
    background: coral;
    color: black;
    width: 70%;
}

#textoFormCorreo{
    width: 100%;
    text-align: center;

}
#textoFormContraseña{
    width: 100%;
    text-align: center;

}
#textoFormConfirmarContraseña{
    width: 100%;
    text-align: center;
}
#textoFormNickname{
    width: 100%;
    text-align: center;
}

div > input{
    font-weight: bold;
    border: 6px solid black;
    border-radius: 11%;
    font-family: 'Miriam Libre', sans-serif;

}
div > a{
    font-weight: bold;
    border: 6px solid black;
    border-radius: 11%;
    font-family: 'Miriam Libre', sans-serif;
    text-decoration: none;

}

#inputImg{
    opacity: 0;
    overflow: hidden;
    width: 0.1px;
    height: 0.1px;

}

label{
    position: absolute;
    top:286px;
    width: 27%;
    margin-top: -7%;
    padding-top: 6px;
    padding-bottom:8px;
    padding-right: 2%;
    border: 5px solid black;
    border-radius: 9%;

    background-color: wheat;
    color: black;

    font-family: 'Miriam Libre', sans-serif;
    font-weight: bold;
    text-align: left;

}
label>span{
    margin-left: 3%;
}
label>img{
    position: absolute;
    margin-left: 1%;
    margin-top: -5px;

}
label:hover {
    cursor:pointer;
}
