/***************BASICO*************/
@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre&family=Xanh+Mono&display=swap');
* {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

body{
    background-image: url(imagenesPrueba/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    background-color: black;
    text-align:center;
    margin-bottom: 2px;
    width: 100%;
    height: 4%;
    bottom:0;
    position:fixed;
    left:0;
    font-family: neon;
    color: white;
    font-size: 0.5cm;
    padding-bottom: 0.5%;
    padding-top:0.5% ;

}

/*******************************/

#encabezado {
    top: 0;
    width: 40%;
    height: 130px;
    position: fixed;
    background-color: black;
}

#titulo {

    display: flex;
    float: left;
    font-size: 40px;
    margin-top: 25px;
    margin-left: 40px;
    margin-right: auto;
    color: whitesmoke;
    font-family: 'Big Shoulders Stencil Text', cursive;
    text-shadow: 2px 4px gray;
}
h1:hover{
    animation: shake 0.8s;
    color: yellow;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}
/*******************************/
.reloj{
    display: grid;
    position: absolute;
    top:0;
    right:0;

    font-family: 'Miriam Libre', sans-serif;
    color: coral;
    font-weight: bold;
    font-size: 12px;
    text-align: right;
    margin-top: 0.45%;
    margin-right: 0.45%;
    grid-template-rows: auto auto




}
.borderClock{
    border: 2px solid whitesmoke;
    border-radius: 10px 10px 0px 10px;
    padding: 5px;
    background-color: black;
    grid-column: 1 /3;
    padding: 10px;
}
.borderClock2{
    float: right;
    border: 2px solid whitesmoke;
    border-radius: 0px 0px 0px 10px;
    border-top: none;
    padding: 5px;
    background-color: black;
    grid-column: 2/3;
    padding: 6px;

}
.licenseImg{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 75%;
    object-fit: cover;
    object-position: center center;
    margin-bottom: 0.2%;
    margin-right: 0.5%;
    background-color:  rgba(0,0,0,.0); /*Para que no haya background*/

}
